! -----------------------------------------------------!
!                     URXVT Settings                   !
! -----------------------------------------------------!

! Fonts
URxvt.font: 		xft:Inconsolata LGC:size=12
URxvt.boldFont: 	xft:Inconsolata LGC:bold:size=12
URxvt.italicFont: 	xft:Inconsolata LGC:italic:size=12
URxvt.boldItalicFont: 	xft:Inconsolata LGC:bold:italic:size=12
URxvt.letterSpace: 	0
URxvt.lineSpace: 	0

! Interface
URxvt.borderless:       true
URxvt.internalBorder:   10
URxvt.scrollBar:        false
URxvt.saveLines:        500
URxvt.dynamicColors:    true
URxvt.termName:         rxvt-unicode
URxvt.title:            Urxvt
URxvt.transparent:      false
URxvt.depth:            30
