! -----------------------------------------------------!
!                     URXVT Settings                   !
! -----------------------------------------------------!

! Fonts
#define font1         Inconsolata LGC
#define font2         Inconsolata Nerd Font
#define font3         DejaVu Sans Mono Nerd Font
#define font4         Noto Sans Mono CJK JP

URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.font:           xft:font1:pixelsize=16, xft:font2:pixelsize=14:minspace=false, xft:font3:pixelsize=14,xft:font4:pixelsize=14
URxvt.boldFont:       xft:font1:bold:pixelsize=16, xft:font2:pixelsize=14:minspace=False,xft:font3:pixelsize=14,xft:font4:pixelsize=14
URxvt.italicFont:     xft:font1:italic:pixelsize=16, xft:font2:pixelsize=14:minspace=False,xft:font3:pixelsize=14,xft:font4:pixelsize=14
URxvt.boldItalicFont: xft:font1:bold:italic:pixelsize=16, xft:font2:pixelsize=14:minspace=False, xft:font3:pixelsize=14, xft:font4:pixelsize=14

! Interface
URxvt.borderless:       true
URxvt.internalBorder:   10
URxvt.scrollBar:        false
URxvt.saveLines:        500
URxvt.dynamicColors:    true
URxvt.termName:         rxvt-unicode
URxvt.title:            Urxvt
URxvt.transparent:      false
URxvt.depth:            30

! Perl Extensions
URxvt.perl-ext-common: default,matcher,resize-font
URxvt.url-launcher: /usr/bin/google-chrome-stable
URxvt.matcher.button: 1
